/*

Notes:
    Color 1: #ecf0f1
    Color 2: #ffffff

*/
.feature-box-style-2:hover .feature-title,
.feature-box-style-1:hover .feature-title,
.owl-shots-navigation a i,
p.nesto-response,
.owl-moreapps-navigation a i,
#contact-form-message {
    color: #ecf0f1;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
a:focus,
a:hover,
.btn-nesto-home-o,
.btn.btn-nesto-home-o,
.btn-nesto,
.btn.btn-nesto,
.btn-nesto-download,
.btn.btn-nesto-download,
.section-title span,
.navbar-nav > li > a,
.navbar-header a,
.slogan,
.slogan-desc,
.home-buttons,
a.desktop-play:hover,
a.desktop-close:hover,
.feature-box-style-1:hover .feature-icon i,
.feature-box-style-2:hover .feature-icon i,
.owl-shots-navigation a:hover i,
.owl-moreapps-navigation a:hover i,
#social-icons ul li a,
#social-icons ul li a:hover,
#copyright,
#copyright a {
    color: #1e1e1e;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto,
.btn.btn-nesto,
.btn-nesto-o,
.btn.btn-nesto-o,
.btn-nesto-download:after,
.btn-nesto-download:before,
.btn-nesto-download.hover,
.btn-nesto-download:hover,
.btn-nesto-download.focus,
.btn-nesto-download:focus,
.btn-nesto-download:active,
.btn-nesto-download.active,
#nav-wrapper.tiny,
#home-section-wrapper,
.slogan:after,
.feature-box-style-1 .feature-icon,
.feature-box-style-1:hover .feature-icon i,
.feature-box-style-2 .feature-icon,
.feature-box-style-2:hover .feature-icon i,
#download-section-wrapper,
.owl-shots-navigation a,
#owl-home-wrapper .owl-theme .owl-controls .owl-page span,
#owl-testimonials-wrapper .owl-theme .owl-controls .owl-page span,
.owl-moreapps-navigation a,
.owl-moreapps div.slide-content > a:hover,
#footer-section,
#owl-testimonials-wrapper .testimonials-img {
    background-image: -webkit-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: -moz-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: -ms-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: -o-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: linear-gradient(90deg, #ecf0f1, #ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ecf0f1', endColorstr='#ffffff')";
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.owl-shots div.slide-content a:after {
    background-image: -webkit-linear-gradient(90deg, #ecf0f1, #ffffff);
    background-image: -moz-linear-gradient(90deg, #ecf0f1, #ffffff);
    background-image: -ms-linear-gradient(90deg, #ecf0f1, #ffffff);
    background-image: -o-linear-gradient(90deg, #ecf0f1, #ffffff);
    background-image: linear-gradient(0deg, #ecf0f1, #ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ecf0f1', endColorstr='#ffffff')";
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
span.nesto-download:before {
    background-image: -webkit-linear-gradient(90deg, #ecf0f1, #ecf0f1);
    background-image: -moz-linear-gradient(90deg, #ecf0f1, #ecf0f1);
    background-image: -ms-linear-gradient(90deg, #ecf0f1, #ecf0f1);
    background-image: -o-linear-gradient(90deg, #ecf0f1, #ecf0f1);
    background-image: linear-gradient(0deg, #ecf0f1, #ecf0f1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ecf0f1', endColorstr='#ecf0f1')";
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
span.nesto-download:after {
    background-image: -webkit-linear-gradient(90deg, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(90deg, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(90deg, #ffffff, #ffffff);
    background-image: -o-linear-gradient(90deg, #ffffff, #ffffff);
    background-image: linear-gradient(0deg, #ffffff, #ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#ffffff')";
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto.hover,
.btn-nesto:hover,
.btn-nesto.focus,
.btn-nesto:focus,
.btn-nesto:active,
.btn-nesto.active {
    color: #1e1e1e !important;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto-home,
.btn.btn-nesto-home,
#social-icons ul li a:hover,
.feature-box-style-1 .feature-icon i {
    color: #ecf0f1;
    background-color: #1e1e1e;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto-home.hover,
.btn-nesto-home:hover,
.btn-nesto-home.focus,
.btn-nesto-home:focus,
.btn-nesto-home:active,
.btn-nesto-home.active {
    color: #1e1e1e !important;
    background-color: transparent;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto-home-o.hover,
.btn-nesto-home-o:hover,
.btn-nesto-home-o.focus,
.btn-nesto-home-o:focus,
.btn-nesto-home-o:active,
.btn-nesto-home-o.active {
    color: #ecf0f1 !important;
    background-color: #1e1e1e;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto-o.hover,
.btn-nesto-o:hover,
.btn-nesto-o.focus,
.btn-nesto-o:focus,
.btn-nesto-o:active,
.btn-nesto-o.active {
    color: #1e1e1e !important;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.navbar-nav > li:after {
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #1e1e1e);
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
.btn-nesto-home,
.btn.btn-nesto-home,
.btn-nesto-home-o,
.btn.btn-nesto-home-o,
#social-icons ul li a {
    -webkit-border: 2px solid #1e1e1e;
       -moz-border: 2px solid #1e1e1e;
         -o-border: 2px solid #1e1e1e;
            border: 2px solid #1e1e1e;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
#newsletter-form .form-control:hover,
#newsletter-form .form-control:focus,
#contactform .form-control:hover,
#contactform .form-control:focus {
    -webkit-border: 1px solid #ecf0f1;
       -moz-border: 1px solid #ecf0f1;
         -o-border: 1px solid #ecf0f1;
            border: 1px solid #ecf0f1;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
#subscribe-section {
    background: #1e1e1e url(../images/background/subscribebg-9.jpg) repeat-x center top;
}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    .navbar-toggle {
        color: #1e1e1e;
    }
    .navbar-nav > li:after {
        background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e, rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e, rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e, rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), #1e1e1e, rgba(255, 255, 255, 0));
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #1e1e1e, rgba(255, 255, 255, 0));
    }

}
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
@media only screen and (max-width: 599px) {

    #nav-wrapper {
        background-image: -webkit-linear-gradient(0deg, #ecf0f1, #ffffff);
        background-image: -moz-linear-gradient(0deg, #ecf0f1, #ffffff);
        background-image: -ms-linear-gradient(0deg, #ecf0f1, #ffffff);
        background-image: -o-linear-gradient(0deg, #ecf0f1, #ffffff);
        background-image: linear-gradient(90deg, #ecf0f1, #ffffff);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ecf0f1', endColorstr='#ffffff')";
    }

}
/* ----------------------------------------------------------------------- */
/* ------------------------- New from version 2.0 ------------------------ */
/* ----------------------------------------------------------------------- */
.price-table,
.table-price {
    background-image: -webkit-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: -moz-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: -ms-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: -o-linear-gradient(0deg, #ecf0f1, #ffffff);
    background-image: linear-gradient(90deg, #ecf0f1, #ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ecf0f1', endColorstr='#ffffff')";
}
.table-price,
.price-table:hover .table-info,
.price-table:hover .table-button .btn.btn-nesto-o {
    color: #1e1e1e;
}
.price-table:hover .table-button .btn.btn-nesto-o span {
    -webkit-border-color: #1e1e1e;
       -moz-border-color: #1e1e1e;
         -o-border-color: #1e1e1e;
            border-color: #1e1e1e;
}